@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Playfair Display", serif;
}
.font-lato {
  font-family: 'Lato', system-ui, sans-serif;
}

body {
  background-color:#fcf8ef;
}

.animate-slideLeft:hover {
  animation-play-state: paused;
}