@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Playfair Display", serif;
}
.font-lato {
  font-family: 'Lato', system-ui, sans-serif;
}

body {
  background-color:#fcf8ef;
}

.animate-slideLeft:hover {
  animation-play-state: paused;
}
html {
  scroll-behavior: smooth;
}
.reveal-left,
.reveal-right,
.reveal-top,
.reveal-down {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.reveal-left {
  transform: translateX(-80px);
}

.reveal-right {
  transform: translateX(80px);
}

.reveal-top {
  transform: translateY(80px);
}

.reveal-down {
  transform: translateY(-80px);
}

.reveal-left.show,
.reveal-right.show,
.reveal-top.show,
.reveal-down.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#form-message {
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s ease;
}
html {
  scrollbar-gutter: stable;
}
html, body {
  overflow-x: hidden;
}
