@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Playfair Display", serif;
}
.font-lato {
  font-family: 'Lato', system-ui, sans-serif;
}

body {
  background-color:#fcf8ef;
}

.animate-slideLeft:hover {
  animation-play-state: paused;
}
html {
  scroll-behavior: smooth;
}
.reveal {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.8s ease;
}
.reveal-left {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.8s ease;
}

.reveal-right {
  opacity: 0;
  transform: translateX(80px);
  transition: all 0.8s ease;
}

.reveal-left.show,
.reveal-right.show {
  opacity: 1;
  transform: translateX(0);
}
.reveal-down {
  opacity: 0;
  transform: translateY(-80px);
  transition: all 0.8s ease;
}

.reveal-top {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}

.reveal-down.show,
.reveal-top.show {
  opacity: 1;
  transform: translateY(0);
}
